@font-face {
    font-family: Jost;
    src: url();
}

.layout {
    display: flex;
    width: 595px;
    height: 842px;
    padding: 50px 70px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
  }

  .layoutBeforeAndAfterHeading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .logo {
    max-width: 100%;
    max-height: 100%; 
    width: 250px;
    height: 102.67px;
}

#HeadingPDF {
    color: var(--Schwarz, #000);

    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;   

}
