@use '@/assets/styles/util' as *;
@use '@/assets/styles/global' as *;

Button,.p-button, .router-link {
  @include smallHighlightBox();
  flex-shrink: 0;

  background-color: $dark-gray;
  &.white {
    background-color: $white;
  }
  &.red-button {
    background-color: $red;
  }

  &:hover, &:focus {
    background-color: $dark-gray-hover;

    &.white {
      background-color: $white-hover;
    }
    &.red-button {
      background-color: $red-hover;
    }
  }
}

.router-link {
  @include breakpoint(m) {
    width: 100%;
  }
}

.disabled {
  opacity: 0.5;
}

.fixed-button {
  position: fixed;
  z-index: 3;
  bottom: spacing(xl);
  right: spacing(s);
}

