@use '@/assets/styles/util' as *;
@use '@/assets/styles/global' as *;


// DROPDOWN STYLING
.p-dropdown {
  background-color: $dark-gray;
  width: 100%;
  border: none;

  &:hover, &.p-focus {
    box-shadow: none;
    background-color: $dark-gray-hover;
  }

  &.invalid {
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
  }

  &.p-overlay-open .p-dropdown-trigger img {
    transform: rotate(180deg);
  }  
}


  


.p-dropdown-label {
  @include smallHighlightBox();
  padding-right: 0;
  border: none;

  justify-content: flex-start;
}


.p-dropdown-trigger {
  color: $white;
  & img {
    transition: 0.25s ease-in-out;
  }
}

.p-dropdown-panel {
  background-color: $gray;
  width: 1px; // todo: better solution it auto fits to p-dropdown width like that
}


.p-dropdown-filter-container {
  background-color: $white;
  border-top: 2px solid $dark-gray;
  border-bottom: 2px solid $dark-gray;
}

.p-dropdown-filter {
  border: none;
}

.p-dropdown-header {
  border: none;
}

.p-dropdown-items {
  @include verticalList(none);
}

.p-dropdown-item {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;

  @include smallHighlightBox();

  width: 100%;
  justify-content: flex-start;
  text-wrap: wrap;

  // reset focus stylings
  &.p-highlight {
    background-color: $gray;
    border-left: 3px solid $red;
  }
  &:hover {
    background-color: $gray-hover;
  }
  &.p-focus {
    background-color: $gray-hover;
  }
}

.p-dropdown-empty-message {
  @include smallHighlightBox();
  color: $red;
}
