@use "@/assets/styles/util" as *;
@use "@/assets/styles/global" as *;

:slotted(ul) {
  @include verticalList(s);
}

:slotted(li) {
  position: relative;
  padding-left: spacing(m);
  list-style: none;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0.55rem;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $red;
  }
}
