// Breakpoints
$breakpoints-down: (
    xs: 36em, // phones vertical < 576px
    s: 48em, // phones horizontal < 768px 
    m: 62em, // tablets < 992px
    l: 75em, // desktops < 1200px
    xl: 87.5em // large desktops < 1400px
);      


@mixin breakpoint($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

