$black: #000;

$dark-gray: #262A31;
$dark-gray-hover: darken($dark-gray, 20%);

$gray: #F0F0F0;
$gray-hover: darken($gray, 6%);

$white: #fff;
$white-hover: darken($white, 3.5%);

$red: #D83D3B;
$red-hover: darken($red, 6%);

$green: #659B5E;
$green-hover: darken($green, 6%);

$orange: #EDAE49;
$orange-hover: darken($orange, 6%);

// todo: look for good percantages