<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" th:href="@{classpath:static/main.css}"></link>
        <title>Application</title>
    </head>
  <body>
    <div class="layout">
      <header>
        
            <img class="logo" th:src="@{classpath:/static/images/Universität_leipzig_Logo.png}" alt="Bildbeschreibung"> </img>
            
      </header>
    </div>
  </body>
</html>