<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <title>Application</title>
    </head>
  <body>
    <div class="layout">
      <header>
        
            <img class="logo" th:src="@{classpath:/static/images/Universität_leipzig_Logo.png}" alt="Bildbeschreibung"> </img>
            
      </header>
    <div>
        <div>
            <h2>Externe Module:</h2>
            <ul>
                <li th:each="externalModule : ${externalModulesArray}">
                    <span th:text="${externalModule.name}"></span>,
                    <span th:text="${externalModule.points}"></span>,
                    <span th:text="${externalModule.pointSystem}"></span>,
                    <span th:text="${externalModule.university}"></span>
                </li>
            </ul>
        </div>
    
        <div>
            <h2>Module Leipzig:</h2>
            <ul>
                <li th:each="moduleLeipzig : ${modulesLeipzigArray}">
                    <span th:text="${moduleLeipzig.name}"></span>,
                    <span th:text="${moduleLeipzig.code}"></span>
                </li>
            </ul>
        </div>
    </div>
  </div>
  </body>
</html>