<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" th:href="@{classpath:static/main.css}"></link>
        <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'></link>
        <title>Application</title>
    </head>
  <body>
    <header>
        <div class="layout">
            <div class="layoutBeforeAndAfterHeading">
                <img class="logo" th:src="@{classpath:/static/images/Universität_leipzig_Logo.png}" alt="Bildbeschreibung"> </img>
                <h1 id="HeadingPDF">ANTRAG ZUR MODULANRECHNUNG</h1>
            </div>    
        </div>
    </header>
  </body>
</html>