// resets
* {
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Jost";
  src: url("@/assets/fonts/Jost-VariableFont_wght.ttf"); /* Adjust the file path and format */
  font-weight: 1 999;
}

html {
  @media only screen and (max-width: 800px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 450px) {
    font-size: 13px;
  }
}

body {
  background-color: $gray;
}

h2 {
  color: $dark-gray;
  font-family: "Jost";
  text-transform: uppercase;
  font-size: 2.125rem;
  font-weight: 800;
  letter-spacing: -0.04rem;
}

h3 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1.375rem;
  font-weight: 800;
  line-height: normal;
}

h4 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1.125rem;
  font-weight: 600;
}

.overview-text {
  font-family: "Jost";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}



a,
Button, .p-button {
  font-family: "Jost";
  text-transform: uppercase;
  text-decoration: none;
  width: max-content;

  color: $white;
  font-size: 1.125rem;
  font-weight: 600;

  @include smallHighlightBox();

  background-color: $dark-gray;
}

small {
  font-family: "Jost";
  font-size: 0.65rem;
  font-weight: 400;
}

.p-inputtext,
input {
  border: 2px solid $dark-gray;
  background-color: transparent;
  padding: 0.625rem;

  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 460;

  min-width: 0;
}

.helper-text {
  margin-left: 0.625rem;
}

::placeholder {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}


// DROPDOWN STYLING
.p-dropdown {
  background-color: $dark-gray;
  width: 100%;
}

.p-dropdown-label {
  color: $white;
  font-family: "Jost";
  text-transform: uppercase;
  text-decoration: none;

  color: $white;
  font-size: 1.125rem;
  font-weight: 600;
}

.p-dropdown-trigger {
  color: $white;
}


.p-dropdown-panel {
  background-color: $gray;
  border: none;
  width: min-content;
}

.p-dropdown-filter-container {
  border-left: 3px solid $dark-gray;
  background-color: $white;
}


.p-dropdown-filter {
  border: none;
  border-right: 3px solid $gray;
}


.p-dropdown-filter-icon {
}


.p-dropdown-header {
  border: none;
}

.p-dropdown-item {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400; 

  @include smallHighlightBox();
  
  width: 100%;
  justify-content: flex-start;
  text-wrap: wrap;
  
  &:focus {
    @include verticalListItem($gray);
  }
  &:hover {
    background-color: $mid-gray ;
  }
}


// STYLING SCROLLBAR

/* WebKit (Chrome, Safari) */
textarea::-webkit-scrollbar,
.p-dropdown-items-wrapper::-webkit-scrollbar {
  width: 3px;
}

textarea::-webkit-scrollbar-track,
.p-dropdown-items-wrapper::-webkit-scrollbar-track {
  background-color: $gray;
}

textarea::-webkit-scrollbar-thumb,
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
  background-color: $red;
}

/* Firefox */
textarea,
.p-dropdown-items-wrapper {
  scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
  scrollbar-color: $red $gray;
}

/* Microsoft Edge and Internet Explorer (Legacy) */
/* Note: These styles are for older versions of IE and Edge and may not be necessary anymore. */
textarea::-ms-scrollbar,
.p-dropdown-items-wrapper::-ms-scrollbar {
  width: 5px;
}

textarea::-ms-scrollbar-track,
.p-dropdown-items-wrapper::-ms-scrollbar-track {
  background-color: $red;
}

textarea::-ms-scrollbar-thumb,
.p-dropdown-items-wrapper::-ms-scrollbar-thumb {
  background-color: $gray;
}
