@use "@/assets/styles/util" as *;

.main {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: spacing(xxxl);
  justify-content: center;
  align-items: flex-start;
  gap: spacing(xl);

  @media only screen and (max-width: 1200px) {
    @include verticalList(big);
    flex-direction: column;

    &.centered {
      flex-direction: row;
    }
  }

  @media only screen and (max-width: 950px) {
    padding: spacing(xl);
  }

  @media only screen and (max-width: 700px) {
    padding: spacing(xl) spacing(m);
  }
}

.content-container {
  @include verticalList(mid);
  width: 100%;

  &.split {
    width: 78%;
    &.narow {
      width: 70%;
    }
  }

  @media only screen and (max-width: 1200px) {
    width: 100%;
    &.split {
      width: 100%;
    }
  }
}

.side-infos-list {
  @include verticalList(big);
  width: 22%;

  &.wide {
    width: 30%;
  }

  @media only screen and (max-width: 1200px) {
    width: 100%;
    &.wide {
      width: 100%;
    }
  }
}

.application-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: spacing(s);
  flex-wrap: wrap;
}
