@use "@/assets/styles/util" as *;

.main {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: spacing(xxxl);
  justify-content: center;
  align-items: flex-start;
  gap: spacing(xl);

  @include breakpoint(l) {
    @include verticalList(l);
    flex-direction: column;

    &.centered {
      flex-direction: row;
    }
  }

  @include breakpoint(m) {
    padding: spacing(xl);
  }

  @include breakpoint(s) {
    padding: spacing(xl) spacing(m);
  }
}

.content-container {
  @include verticalList(m);
  width: 100%;

  &.split {
    width: calc(78% - spacing(xl));
    &.narow {
      width: calc(70% - spacing(xl));
    }
  }

  @include breakpoint(l) {
    width: 100%;
    &.split {
      width: 100%;
    }
  }
}

.side-infos-list {
  @include verticalList(l);
  width: calc(22% - spacing(xl));

  &.wide {
    width: calc(30% - spacing(xl));
  }

  @include breakpoint(l) {
    width: 100%;
    &.wide {
      width: 100%;
    }
  }
}

.application-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: spacing(s);
  flex-wrap: wrap;
}

.panel-container {
  width: 100%;
  padding: spacing(l) 0;
  border-top: 2px solid rgba($dark-gray,0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: spacing(s);
}