@use "@/assets/styles/util" as *;

@font-face {
  font-family: "Jost";
  src: url("@/assets/fonts/Jost-VariableFont_wght.ttf"); /* Adjust the file path and format */
  font-weight: 1 999;
}

h2 {
  color: $dark-gray;
  font-family: "Jost";
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

h3 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 700;
}

p {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}

.p-inputtext,
input,
textarea {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}

::placeholder {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

.helper-text {
  margin-left: spacing(s);
}

small {
  font-family: "Jost";
  font-size: 0.75rem;
  font-weight: 430;
}

.overview-text {
  font-family: "Jost";
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

a,
Button,
.p-button {
  font-family: "Jost";
  text-transform: uppercase;
  text-decoration: none;
  width: max-content;

  color: $white;
  font-size: 1.1rem;
  font-weight: 500;

  &.white {
    color: $dark-gray;
  }
}

.related-modules-text {
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
}

.invalid-text {
  color: $red;
}
