@use "@/assets/styles/util" as *;

@font-face {
  font-family: "Jost";
  src: url("@/assets/fonts/Jost-VariableFont_wght.ttf"); /* Adjust the file path and format */
  font-weight: 1 999;
}

h1, .h1 {
  color: $dark-gray;
  font-family: "Jost";
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

h2, .h2 {
  color: $dark-gray;
  font-family: "Jost";
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

h3, .h3 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

h4, .h4 {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 700;
}

p, .p {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}

.text-justify {
  text-align: justify;
}

.p-inputtext,
input,
textarea {
  color: $black;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
}

::placeholder {
  color: $dark-gray;
  font-family: "Jost";
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

.helper-text {
  margin-left: spacing(s);
}

small {
  font-family: "Jost";
  font-size: 0.8rem;
  font-weight: 430;
  color: $black;
}


a,
Button,
.p-button,
.overview-text,
.p-dropdown-label {
  font-family: "Jost";
  text-transform: uppercase;
  text-decoration: none;

  color: $white;
  font-size: 1rem;
  font-weight: 500;

  &.white {
    color: $dark-gray;
  }
}

.related-modules-text {
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
}

.invalid-text {
  color: $red;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}